Datasets.zip
Datasets/Train/0/CloudData_1.csv
Datasets/Train/0/CloudData_10.csv
Datasets/Train/0/CloudData_100.csv
Datasets/Train/0/CloudData_11.csv
Datasets/Train/0/CloudData_12.csv
Datasets/Train/0/CloudData_13.csv
Datasets/Train/0/CloudData_14.csv
Datasets/Train/0/CloudData_15.csv
Datasets/Train/0/CloudData_16.csv
Datasets/Train/0/CloudData_17.csv
Datasets/Train/0/CloudData_18.csv
Datasets/Train/0/CloudData_19.csv
Datasets/Train/0/CloudData_2.csv
Datasets/Train/0/CloudData_20.csv
Datasets/Train/0/CloudData_21.csv
Datasets/Train/0/CloudData_22.csv
Datasets/Train/0/CloudData_23.csv
Datasets/Train/0/CloudData_24.csv
Datasets/Train/0/CloudData_25.csv
Datasets/Train/0/CloudData_26.csv
Datasets/Train/0/CloudData_27.csv
Datasets/Train/0/CloudData_28.csv
Datasets/Train/0/CloudData_29.csv
Datasets/Train/0/CloudData_3.csv
Datasets/Train/0/CloudData_30.csv
Datasets/Train/0/CloudData_31.csv
Datasets/Train/0/CloudData_32.csv
Datasets/Train/0/CloudData_33.csv
Datasets/Train/0/CloudData_34.csv
Datasets/Train/0/CloudData_35.csv
Datasets/Train/0/CloudData_36.csv
Datasets/Train/0/CloudData_37.csv
Datasets/Train/0/CloudData_38.csv
Datasets/Train/0/CloudData_39.csv
Datasets/Train/0/CloudData_4.csv
Datasets/Train/0/CloudData_40.csv
Datasets/Train/0/CloudData_41.csv
Datasets/Train/0/CloudData_42.csv
Datasets/Train/0/CloudData_43.csv
Datasets/Train/0/CloudData_44.csv
Datasets/Train/0/CloudData_45.csv
Datasets/Train/0/CloudData_46.csv
Datasets/Train/0/CloudData_47.csv
Datasets/Train/0/CloudData_48.csv
Datasets/Train/0/CloudData_49.csv
Datasets/Train/0/CloudData_5.csv
Datasets/Train/0/CloudData_50.csv
Datasets/Train/0/CloudData_51.csv
Datasets/Train/0/CloudData_53.csv
Datasets/Train/0/CloudData_55.csv
Datasets/Train/0/CloudData_56.csv
Datasets/Train/0/CloudData_57.csv
Datasets/Train/0/CloudData_58.csv
Datasets/Train/0/CloudData_59.csv
Datasets/Train/0/CloudData_6.csv
Datasets/Train/0/CloudData_60.csv
Datasets/Train/0/CloudData_61.csv
Datasets/Train/0/CloudData_62.csv
Datasets/Train/0/CloudData_63.csv
Datasets/Train/0/CloudData_64.csv
Datasets/Train/0/CloudData_65.csv
Datasets/Train/0/CloudData_66.csv
Datasets/Train/0/CloudData_67.csv
Datasets/Train/0/CloudData_68.csv
Datasets/Train/0/CloudData_69.csv
Datasets/Train/0/CloudData_7.csv
Datasets/Train/0/CloudData_70.csv
Datasets/Train/0/CloudData_71.csv
Datasets/Train/0/CloudData_72.csv
Datasets/Train/0/CloudData_73.csv
Datasets/Train/0/CloudData_74.csv
Datasets/Train/0/CloudData_75.csv
Datasets/Train/0/CloudData_76.csv
Datasets/Train/0/CloudData_78.csv
Datasets/Train/0/CloudData_79.csv
Datasets/Train/0/CloudData_8.csv
Datasets/Train/0/CloudData_80.csv
Datasets/Train/0/CloudData_81.csv
Datasets/Train/0/CloudData_83.csv
Datasets/Train/0/CloudData_84.csv
Datasets/Train/0/CloudData_85.csv
Datasets/Train/0/CloudData_86.csv
Datasets/Train/0/CloudData_87.csv
Datasets/Train/0/CloudData_88.csv
Datasets/Train/0/CloudData_89.csv
Datasets/Train/0/CloudData_9.csv
Datasets/Train/0/CloudData_90.csv
Datasets/Train/0/CloudData_91.csv
Datasets/Train/0/CloudData_92.csv
Datasets/Train/0/CloudData_93.csv
Datasets/Train/0/CloudData_94.csv
Datasets/Train/0/CloudData_95.csv
Datasets/Train/0/CloudData_96.csv
Datasets/Train/0/CloudData_97.csv
Datasets/Train/0/CloudData_98.csv
Datasets/Train/0/CloudData_99.csv
Datasets/Train/1/CloudData_1.csv
Datasets/Train/1/CloudData_10.csv
Datasets/Train/1/CloudData_100.csv
Datasets/Train/1/CloudData_11.csv
Datasets/Train/1/CloudData_13.csv
Datasets/Train/1/CloudData_14.csv
Datasets/Train/1/CloudData_16.csv
Datasets/Train/1/CloudData_17.csv
Datasets/Train/1/CloudData_18.csv
Datasets/Train/1/CloudData_19.csv
Datasets/Train/1/CloudData_2.csv
Datasets/Train/1/CloudData_20.csv
Datasets/Train/1/CloudData_21.csv
Datasets/Train/1/CloudData_22.csv
Datasets/Train/1/CloudData_23.csv
Datasets/Train/1/CloudData_24.csv
Datasets/Train/1/CloudData_25.csv
Datasets/Train/1/CloudData_26.csv
Datasets/Train/1/CloudData_27.csv
Datasets/Train/1/CloudData_29.csv
Datasets/Train/1/CloudData_3.csv
Datasets/Train/1/CloudData_30.csv
Datasets/Train/1/CloudData_31.csv
Datasets/Train/1/CloudData_32.csv
Datasets/Train/1/CloudData_33.csv
Datasets/Train/1/CloudData_34.csv
Datasets/Train/1/CloudData_36.csv
Datasets/Train/1/CloudData_37.csv
Datasets/Train/1/CloudData_38.csv
Datasets/Train/1/CloudData_39.csv
Datasets/Train/1/CloudData_4.csv
Datasets/Train/1/CloudData_40.csv
Datasets/Train/1/CloudData_41.csv
Datasets/Train/1/CloudData_42.csv
Datasets/Train/1/CloudData_43.csv
Datasets/Train/1/CloudData_44.csv
Datasets/Train/1/CloudData_45.csv
Datasets/Train/1/CloudData_46.csv
Datasets/Train/1/CloudData_47.csv
Datasets/Train/1/CloudData_48.csv
Datasets/Train/1/CloudData_49.csv
Datasets/Train/1/CloudData_5.csv
Datasets/Train/1/CloudData_50.csv
Datasets/Train/1/CloudData_51.csv
Datasets/Train/1/CloudData_52.csv
Datasets/Train/1/CloudData_53.csv
Datasets/Train/1/CloudData_54.csv
Datasets/Train/1/CloudData_55.csv
Datasets/Train/1/CloudData_56.csv
Datasets/Train/1/CloudData_57.csv
Datasets/Train/1/CloudData_59.csv
Datasets/Train/1/CloudData_6.csv
Datasets/Train/1/CloudData_60.csv
Datasets/Train/1/CloudData_61.csv
Datasets/Train/1/CloudData_62.csv
Datasets/Train/1/CloudData_63.csv
Datasets/Train/1/CloudData_64.csv
Datasets/Train/1/CloudData_65.csv
Datasets/Train/1/CloudData_66.csv
Datasets/Train/1/CloudData_67.csv
Datasets/Train/1/CloudData_68.csv
Datasets/Train/1/CloudData_69.csv
Datasets/Train/1/CloudData_7.csv
Datasets/Train/1/CloudData_70.csv
Datasets/Train/1/CloudData_71.csv
Datasets/Train/1/CloudData_72.csv
Datasets/Train/1/CloudData_73.csv
Datasets/Train/1/CloudData_74.csv
Datasets/Train/1/CloudData_75.csv
Datasets/Train/1/CloudData_76.csv
Datasets/Train/1/CloudData_77.csv
Datasets/Train/1/CloudData_78.csv
Datasets/Train/1/CloudData_79.csv
Datasets/Train/1/CloudData_8.csv
Datasets/Train/1/CloudData_80.csv
Datasets/Train/1/CloudData_81.csv
Datasets/Train/1/CloudData_82.csv
Datasets/Train/1/CloudData_83.csv
Datasets/Train/1/CloudData_84.csv
Datasets/Train/1/CloudData_85.csv
Datasets/Train/1/CloudData_86.csv
Datasets/Train/1/CloudData_87.csv
Datasets/Train/1/CloudData_88.csv
Datasets/Train/1/CloudData_89.csv
Datasets/Train/1/CloudData_9.csv
Datasets/Train/1/CloudData_90.csv
Datasets/Train/1/CloudData_91.csv
Datasets/Train/1/CloudData_92.csv
Datasets/Train/1/CloudData_93.csv
Datasets/Train/1/CloudData_95.csv
Datasets/Train/1/CloudData_96.csv
Datasets/Train/1/CloudData_97.csv
Datasets/Train/1/CloudData_98.csv
Datasets/Train/1/CloudData_99.csv
source/__pycache__/DatasetReload.cpython-37.pyc
source/__pycache__/Network.cpython-37.pyc
source/__pycache__/TrainModel.cpython-37.pyc
